; Top-most EditorConfig file
root = true

; 2-column space indentation
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

# readme
[*.md]
max_line_length = off
trim_trailing_whitespace = false
