{
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "printWidth": 120,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": true
}

